.box{
    border-radius: 30px;
    background-color: aqua;
    height: 300px;
    width: 100%;
}
.column{
    float: left;
    width: 25%;
    padding: 10px;
}

.row::after{
    content: " ";
    display: table;
    clear: both;
}