*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 .background{
    background-color: #d7f7fe;
} 
.header{
    width: 100%;
    top: 1%;
    bottom: 1%;
    background-color: #CFF;
    margin: 0%;
    align-items: center;
    padding: 1%;
    position: relative;
    display: block;
}   
.header{
    box-sizing: border-box;
} 
 
.banner{
    width: 100%;
    padding-top: 50px;
}
.beanner_1{
    width: 100%;
}
.beanner_2{
    width: 100%;
    height: 100%;
}
.beanner_3{
    width: 100%;
}

.photo{
    
    width: 100%;
}

.menu_bar{
    background-image:linear-gradient(#0000ca,#3445cb);
    height: 80 px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    
}
 .uniune{
    width: 100%;
    padding-right: 100%;

}


.box{
    margin: 80px;
    display: block;
    background-color: beige;
    width: 300px;
    height: 250px;
    border-radius: 30px;  
    animation: Slide_Up 3s;

   
}
.box_3{
    margin: 80px;
    display: block;
    background-color: rgba(0, 84, 110, 0.664);
    width: 300px;
    height: 200px;
    border-radius: 20px;
    
 }
.text{
    padding-left: 15px;
    align-items:  center;
    font-weight: bold;
    list-style: none;
    text-indent: 10px;
    margin: 0px;
    
}

.box_1{
    display: block;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    margin: 80px;
  
}
.box_h{display: block;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    margin: 80px;
    padding-bottom: 15px;

}

.text_1{
    color: #000;
    text-align: justify;
    font-size: 18px;
    padding-left: 0px;
    

}
.obj{
    width: 30%;
    padding-left: 200px;
}
.obj_1{
    width: 30%;
    padding-left: 200px;
}
.obj_2{
    width: 30%;
    padding-left: 200px;
}
.text_part{
    padding-right: 100px;
    padding-left: 20px;
}

.a{
    
     padding-left: 300px;    
   
}

  
.text_rez{
        font-size: 17px;
        padding-left: 20px;
}
    
.b{
     padding-left: 300px;
   
} 

 
.box_2{
    margin: 80px;
    display: block;
    background-color: #00ff2281;
    width: 300px;
    height: 250px;
    border-radius: 30px; 
    
}
.box_4{
    width: 600px;
    height: 600px;
    border-radius: 20px;
    margin: 80px;
  
}
.box_5{
    display: block;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    margin: 80px;
   }
 .photo{
      padding-left: 200px;  
     width: 400px;
     
     
} 
 .column{
    float: left;
    width: 25%;
    padding: 0px;
    display: block;
    
    
}
.column_h{
    float: left;
    width: 25%;
    padding-top: 0px;
    padding-left: 380px;
    position: absolute;
    height: 10px;
    display: block;

}
.anunt{
    height: 150px;
    padding-left: 500px;
    padding-top: 0%;
}
.info_p{
    padding-top: 15px;
    height: 200px;
    padding-left: 5px;
}
.column_e{
    float: left;
    margin: 0px;
    padding-top: 8%;
    padding-left: 21%;
    width: 25%;
    padding-bottom: 15px;
    padding-top: 250px;
   

}
.column_a{
    float: left;
    margin: 0px;
    padding-left: 21%;
    width: 25%;
    padding-bottom: 15px;
    }
    .column_b{
        visibility: hidden;

    }
    .column_p{
        padding-top: 80%;
    }
.box_a{
   background-color: #fbdc30bf;
    width: 300px;
    height: 550px;
    border-radius:30px;
    margin: 0px;
    display: block; 
   
    
}
.box_e{
    background-color: #51bcb7bf;
    width: 330px;
    height: 800px;
    border-radius:30px;
    margin: 0px;
    display: block; 

}
.text_3{
    padding-right: 25px;
    list-style: none;
    text-align: justify;
    padding-left: 15px;
   
}

.column_x{
    float: left;
    width: 25%;
    padding: 0px;
} 
.column_y{
    float: left;
    width: 25%;
    padding: 0px;
} 
.column_z{
    float: left;
    width: 25%;
    padding: 0px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.ph{
    margin: 0%;
    width: 100%;
}

.foto{
margin: 10px
} 

body{
    margin: 0;
    padding: 0;
    
}
.lin{
    visibility: hidden;
}
.container{

    width: 80%;
    height: 100%;
    padding-left: 300px;
    padding-right: 50px;
    box-sizing: border-box;
    border-radius: 10px;
  
    
}
 .line_1{
    background-color: rgb(226, 223, 223);
    border-radius: 10px;
   
 }

.text_info{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 5px;
}


.column1{
    float: left;
    width: 20%;
    padding: 1px;
    border: #000080;
}
.row1::after{
    content: "";
    display: table;
    clear: both;
}
.footer{
    width: 100%;
}
.inner-footer{
    margin: 0px;
    padding: 0;
    background-color: #272727;
    width: 100%;
}

.social-links{
    display: flex;
    text-align: center;
    padding: 20px;
    width: 100%;
  
}

.social-links ul{
    padding: 10px;
    display: flex;
    width: 100%;
    height: 60px;
    margin: 5px;
    align-items: center;
    width: 100%;
}

.social-items{
    list-style: none;
    align-items: center;
}

.social-items a{
    padding-left: 100px 20px;
    font-size: 35px;
    color: #025cda;
    transition: all .35s;
    align-items: center;}
.social-items a:hover{
        color: #ff0000;
 }
.quick-links{
        display: flex;
        width: 560px;
        height: 40px;
        margin: auto;
 }
 .quick-links ul{
        display: flex;
 }
.quick-items{
        list-style: none;
        text-align: center;
        align-items: center;
 }
 .quick-items a{
        text-decoration: none;
        padding: 0px;
        font-size: 18px;
        color: white;
        transition: all .25s;
        text-align: center;
}
.quick-items a:hover{
        color: white;
        text-align: center;
        
}
.outer-footer{
        padding: 5px;
        text-align: center;
        color: white;
        font-size: 18px;
        background-color: #272727 ;
    
}

.contact_1{
    padding-top: 80px;
    text-align: justify;
    padding-left: 1100px;
    position: relative;
}


.img1{
    padding-left: 100px;
}
.img2{
    padding-left: 125px;
}
.img3{
    padding-left: 200px;
    padding-left: 150px;   
}
.container_1{
    width: 100%;
    height: 100%;
    padding-left: 3px;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 50px;
}
.line{
    background-color: rgb(240, 240, 240);
    padding-bottom: 20px;
    padding-top: 10px;
    
}
.canda{
    text-indent: 10px;
    padding-left: 15px;
}
.z{
    padding-left: 300px;
    text-indent: 25px;
    padding-right: 50px;
    text-align: justify;
    border-radius: 10px;
    box-sizing: border-box;
    width: 80%;
    height: 100%;
    padding-bottom: 10px;
    padding-top: 3px;
}
.text_co{
    padding-left: 25px;
    text-align: justify;
    list-style: none;

}
.text_con{
    padding-left: 25px;
    text-align: justify;
    padding-right: 10px;
 
}
.text_con1{
    padding-left: 20px;
    text-align: justify;
    padding-right: 10px;
    
}
.text_con2{
    padding-left: 50px;
    text-align: justify;
    padding-right: 10px;
}
.buton{
    background-color: #000000;
    align-items: center;
    border-radius: 20px;
    height: 60px;
    width: 200px;
    box-shadow: 10px 10px 5px grey;
    border-color: #fff;
    position: absolute;
    
    
} 

#list{
    /* visibility: hidden; */
    background-image:linear-gradient(#0000ca,#3445cb);
    list-style-type: none;
    align-items: center;
    padding-left: 25px;
    padding-top: 60px;
    /* padding-bottom: 15px; */
    color: white;
    font-size: 17px;
}
.disabled-link{
    cursor: pointer;
    /* pointer-events: none; */
    text-decoration: none;
    color: white;
}
.disabled-link:hover{
    color: yellow;
}
.navbar .links a:hover{
    letter-spacing: 0.em;
    font-size: 18px;
    /* box-shadow:0px 0px 35px greenyellow; */
    color: yellow;
}
nav .navbar .links li .sub-menu a:hover{
    font-size: 18px;
    box-shadow: none;
    color: yellow;
}
.width-submenu{
    width: 200px;
}
.items:hover{
    color: yellow;
}


.box_6{
    background-color: #ee646489;
    width: 300px;
    height: 150px;
    border-radius: 30px; 
    display: block;
   
}
.box_i{
    background-color: #9566aa99;
    width: 330px;
    height: 1000px;
    border-radius: 30px; 
    display: block;
    
}

.doc{
    padding-left: 65px;
    display: block;
}
.c{
    padding-left: 0px;
    padding-top: 850px;
    display: block;

}

.column_n{
    float: left;
    width: 25%;
    padding: 0px;
    display: block;
    position: relative;

}
.column_i{
    float: left;
    width: 25%;
    padding-left: 750px;
    display: block;
    padding-top: 210px;
    margin: 0; 
    height: 0px; 
    
}
.btn {
    background-color: rgb(158, 204, 249);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    
  }
  .btn:hover {
    background-color: rgb(44, 55, 87);}
    .logos{
        width: 70px;
        height: 70px;   
        visibility: hidden;
    }
    .pdf{
        width: 100%;
        height: 450px;
    }
  .prega{
    padding-top: 80px;
  }
.preg{
    text-align: justify;
    padding-left: 40px;
    padding-right: 30px;
    font-size: 20px;
    
}
.preg1{
    text-align: justify;
    padding-left: 70px;
    padding-right: 30px;
    font-size: 20px;
}

.blink {
        animation: blinker 2s linear infinite;
        color: red;
        font-family: sans-serif;
    }
 @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
    .body{
        padding: 0;
        margin: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .7s;
        padding-top: 0;
        position: absolute;
    }
    .slide-container{
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        overflow: hidden;
        background: linear-gradient(to right,#00c6fb,#005bea);
    }
   
    .slider-span{
        overflow: hidden;
    }
    .image-slider{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .7s;
       
        
    }

    .slides-div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 30px 0 30px;
    }
.img{
    position: relative;
    width: 500px;
    height: 300px;
    transition: .5s;
    filter: saturate(10%);
}
#slider-span1{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}
#slider-span2{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span3{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span4{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span5{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span6{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span7{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span8{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span9{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span10{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span11{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span12{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span13{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span14{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span15{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span16{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span17{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span18{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}
#slider-span19{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span20{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}
.button{
    position: absolute;
    width: 500px;
    height: 300px;
    transition: .5s;
    background-color: rgba(0, 0, 0, .4);
}

.button:hover{
    background-color: rgba(0, 0, 0, .2) ;
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~ .image-slider #button-6{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~ .image-slider #button-7{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span8:target ~ .image-slider #img8,
#slider-span8:target ~ .image-slider #button-8{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span9:target ~ .image-slider #img9,
#slider-span9:target ~ .image-slider #button-9{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span10:target ~ .image-slider #img10,
#slider-span10:target ~ .image-slider #button-10{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span11:target ~ .image-slider #img11,
#slider-span11:target ~ .image-slider #button-11{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span12:target ~ .image-slider #img12,
#slider-span12:target ~ .image-slider #button-12{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span13:target ~ .image-slider #img13,
#slider-span13:target ~ .image-slider #button-13{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span14:target ~ .image-slider #img14,
#slider-span14:target ~ .image-slider #button-14{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span15:target ~ .image-slider #img15,
#slider-span15:target ~ .image-slider #button-15{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span16:target ~ .image-slider #img16,
#slider-span16:target ~ .image-slider #button-16{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span17:target ~ .image-slider #img17,
#slider-span17:target ~ .image-slider #button-17{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span18:target ~ .image-slider #img18,
#slider-span18:target ~ .image-slider #button-18{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span19:target ~ .image-slider #img19,
#slider-span19:target ~ .image-slider #button-19{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span20:target ~ .image-slider #img20,
#slider-span20:target ~ .image-slider #button-20{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span1:target ~ .image-slider {left: 330%;}
#slider-span2:target ~ .image-slider {left: 300%;}
#slider-span3:target ~ .image-slider {left: 270%;}
#slider-span4:target ~ .image-slider {left: 240%;}
#slider-span5:target ~ .image-slider {left: 200%;}
#slider-span6:target ~ .image-slider {left: 165%;}
#slider-span7:target ~ .image-slider {left: 130%;}
#slider-span8:target ~ .image-slider {left: 90%;}
#slider-span9:target ~ .image-slider {left: 55%;}
#slider-span10:target ~ .image-slider {left: 20%;}
#slider-span11:target ~ .image-slider {left: -20%;}
#slider-span12:target ~ .image-slider {left: -55%;}
#slider-span13:target ~ .image-slider {left: -90%;}
#slider-span14:target ~ .image-slider {left: -130%;}
#slider-span15:target ~ .image-slider {left: -165%;}
#slider-span16:target ~ .image-slider {left: -200%;}
#slider-span17:target ~ .image-slider {left: -240%;}
#slider-span18:target ~ .image-slider {left: -270%;}
#slider-span19:target ~ .image-slider {left: -300%;}
#slider-span20:target ~ .image-slider {left: -330%;}


 .slide-container-p{
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        overflow: hidden;
        background: linear-gradient(to right, #6e45e2,#88d3ce);
    }
    .image-slider-p{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}

.slides-div-p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}
.imgp{
    position: relative;
    width: 500px;
    height: 300px;
    transition: .5s;
    filter: saturate(10%);
}

.buttonp{
    position: absolute;
    width: 500px;
    height: 300px;
    transition: .5s;
    background-color: rgba(0, 0, 0, .4);
}


#slider-span1p:target ~ .image-slider-p #img1,
#slider-span1p:target ~ .image-slider-p #button-1{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span2p:target ~ .image-slider-p #img2,
#slider-span2p:target ~ .image-slider-p #button-2{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span3p:target ~ .image-slider-p #img3,
#slider-span3p:target ~ .image-slider-p #button-3{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span4p:target ~ .image-slider-p #img4,
#slider-span4p:target ~ .image-slider-p #button-4{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span5p:target ~ .image-slider-p #img5,
#slider-span5p:target ~ .image-slider-p #button-5{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span6p:target ~ .image-slider-p #img6,
#slider-span6p:target ~ .image-slider-p #button-6{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span7p:target ~ .image-slider-p #img7,
#slider-span7p:target ~ .image-slider-p #button-7{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span8p:target ~ .image-slider-p #img8,
#slider-span8p:target ~ .image-slider-p #button-8{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span9p:target ~ .image-slider-p #img9,
#slider-span9p:target ~ .image-slider-p #button-9{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span10p:target ~ .image-slider-p #img10,
#slider-span10p:target ~ .image-slider-p #button-10{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span11p:target ~ .image-slider-p #img11,
#slider-span11p:target ~ .image-slider-p #button-11{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span12p:target ~ .image-slider-p #img12,
#slider-span12p:target ~ .image-slider-p #button-12{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span13p:target ~ .image-slider-p #img13,
#slider-span13p:target ~ .image-slider-p #button-13{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span14p:target ~ .image-slider-p #img14,
#slider-span14p:target ~ .image-slider-p #button-14{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span15p:target ~ .image-slider-p #img15,
#slider-span15p:target ~ .image-slider-p #button-15{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span16p:target ~ .image-slider-p #img16,
#slider-span16p:target ~ .image-slider-p #button-16{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span17p:target ~ .image-slider-p #img17,
#slider-span17p:target ~ .image-slider-p #button-17{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span18p:target ~ .image-slider-p #img18,
#slider-span18p:target ~ .image-slider-p #button-18{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span19p:target ~ .image-slider-p #img19,
#slider-span19p:target ~ .image-slider-p #button-19{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span20p:target ~ .image-slider-p #img20,
#slider-span20p:target ~ .image-slider-p #button-20{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span1p:target ~ .image-slider-p {left: 330%;}
#slider-span2p:target ~ .image-slider-p {left: 300%;}
#slider-span3p:target ~ .image-slider-p{left: 270%;}
#slider-span4p:target ~ .image-slider-p {left: 240%;}
#slider-span5p:target ~ .image-slider-p {left: 200%;}
#slider-span6p:target ~ .image-slider-p {left: 165%;}
#slider-span7p:target ~ .image-slider-p {left: 130%;}
#slider-span8p:target ~ .image-slider-p {left: 90%;}
#slider-span9p:target ~ .image-slider-p {left: 55%;}
#slider-span10p:target ~ .image-slider-p {left: 20%;}
#slider-span11p:target ~ .image-slider-p {left: -20%;}
#slider-span12p:target ~ .image-slider-p {left: -55%;}
#slider-span13p:target ~ .image-slider-p {left: -90%;}
#slider-span14p:target ~ .image-slider-p {left: -130%;}
#slider-span15p:target ~ .image-slider-p {left: -165%;}
#slider-span16p:target ~ .image-slider-p {left: -200%;}
#slider-span17p:target ~ .image-slider-p {left: -240%;}
#slider-span18p:target ~ .image-slider-p {left: -270%;}
#slider-span19p:target ~ .image-slider-p {left: -300%;}
#slider-span20p:target ~ .image-slider-p {left: -330%;}

#slider-span1p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}
#slider-span2p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span3p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span4p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span5p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span6p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span7p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span8p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span9p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span10p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span11p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span12p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span13p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span14p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span15p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span16p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span17p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span18p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}
#slider-span19p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span20p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}

.cip{
    width: 40%;
}
.por{  
    width: 55.5%;
    padding-left: 250px;
    position: absolute;

 }

@media only screen and (max-width:900px){

    .lin{
        display: block;
        visibility: visible;
        
    }
    
    .z{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        

       
    }
    .footer{
        width: 100%;
        position: absolut;
        
    }
    .footer_i{
        width: 100%;
        position: absolut;
        padding-top: 650px;
    }
    .inner-footer{
        width: 100%;
        text-align: center;
    }
    .outer-footer{
        width: 100%;
        text-align: center;
    }
    .quick-items{
        width: 290px;
        text-align: center;
    }
    .quick-links{
        text-align: center;
        align-items: center;
        width: 290px;
    }
    .social-items {
        width: 290px;
        text-align: left;
    }
    .social-links{
        height: 300px;
    }
    .contact_1{
        padding-left:0%;
        margin:0%;
        padding-top: 180px;
        padding-right: 75px;
    }
    .canda{
        width: 100%;
        font-size: 10px;
    }
    .container_1{
        width: 100%;
        margin: 0px;
        padding-left: 0px;
       
        
    }
    .line{
        width: 100%;
        padding-bottom: 20px;
        padding-top: 10px;
        padding-left: 10px;    
    }
    .obj{
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 10px;
        align-items: center;

    }
    .obj_1{
        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 0px;
        padding-bottom: 10px;

    }
    .obj_2{

        width: 100%;
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    .img1{
        width: 100%;
        padding-right: 75px;
        padding-left: 50px;
    }
    .img2{
        width: 100%;
        padding-left: 50px;
        padding-right: 75px;
    }
    .img3{
        width: 100%;
        padding-left: 50px;
        padding-right: 75px;

    }
    .text_1{
        width: 290px;
        padding-left: 10px;
        padding-right: 40px;
        font-size: 15px;
        text-align: justify;
    }
    .row{
        width: 100%;
        padding-left: 0px;
        padding-bottom: 0px;
        margin: 0%;
    }
     .column{
        padding-top: 950px;
        width: 100%;
        padding-left: 0px;
        margin: 0%;
        position: absolute;

    }
    .column_h{
        padding-top: 50px;
        width: 100%;
        padding-left: 0px;
        margin: 0%;
        position: absolute;
    }
    .anunt{
        padding-left: 0px;
        padding-top: 10px;
    }
    .box_h{
        width: 100%;
        display: block;
        height: 600px;
        border-radius: 20px;
        margin: 0px;
        padding-left: 20px;
        padding-right: 0px;
        align-self: center;
        padding-top: 0px;
    }
    .column_x{
        width: 100%;
        padding-left: 10px;
        padding-top: 10px;
        margin: 0%;
        
    }
    .column_y{  
        width: 100%;
        padding-left: 0px;
        padding-top: 6200px;
        margin: 0%;
        position: absolute;
        

    }
   .column_z{
        width: 100%;
        padding-top: 60px;
        margin: 0%;
        padding-left: 0px;
        padding-bottom: 0px;}
    .column_b{
        width: 100%;
        padding-left: 10px;
        padding-top: 2500px;
        margin: 0%;
        position: absolute;
    }

    .column_a{
        width: 100%;
        padding-top: 60px;
        margin: 0%;
        padding-left: 0px;
        padding-bottom: 15px;
   }
   .column_e{
    width: 100%;
    padding-top: 2550px;
    margin: 0%;
    padding-left: 0px;
    padding-bottom: 15px;
    height: 110%;
   }
   .column_i{
        padding-top: 50px;
        padding-left:10px; 
        width: 100%; 
        height: 100%;
   }
   .box_i{
    padding-top: 0%;
    width: 100%;
    height: 105%;
   }
   .box_e{
    width: 100%;
}
   
   .column_n{
    width: 350px;
    height: 10px;
    padding-top: 2300px;
    margin: 0%;
    padding-left: 0px;
    padding-bottom: 0px;
    position: absolute;
    align-self: center;
    
   }
   .but{
    padding-top: 150px;

   }
   .doc{
    padding-left: 10px;
    padding-bottom: 10px;
    position: relative;
    
   }
    .box{
        width: 100%;
        margin: 0px;
        display: block;
        background-color: beige;
        height: 300px;
        border-radius: 30px; 
        padding-left: 10px;
       
        
        
    }
    .box_2{
        width:100%;
        margin: 0px;
        display: block;
        border-radius: 30px; 
        height: 100%;
        padding-left: 10px;
        align-self: center;
        padding-right: 5px;
        padding-bottom: 20px;
        
    }
    .box_a{ width:100%;
        margin: 0px;
        display: block;
        border-radius: 30px; 
        height: 100%;
        padding-left: 10px;
        align-self: center;
        padding-right: 5px;
        padding-bottom: 20px;

    }
    .box_3{
        width: 100%;
        margin: 0px;
        display: block;
        height: 100%;
        border-radius: 30px;
        align-self: center;
        padding-left: 10px;
        padding-bottom: 0px;
        padding-right: 5px;
        position: relative;
    }
    .box_6{
        width: 100%;
        margin: 0px;
        display: block;
        height: 100%;
        border-radius: 30px;
        align-self: center;
        padding-left: 10px;
        padding-bottom: 0px;
        padding-right: 5px;
        position: relative;
        
       
    }
    .text{
        width: 100%;
        padding-left: 10px;
        margin: 0%;
        text-align: justify;
    }
    .text_1{
        width: 100%;
        padding-left: 10px;
        margin: 0%;
    }
    .foto{
        width: 100%;
        align-items: center;
    }
    .box_1{
        width: 100%;
        display: block;
        height: 600px;
        border-radius: 20px;
        margin: 0px;
        padding-left: 20px;
        padding-right: 0px;
        align-self: center;
        position: absolute;
    }
    .b{
        width: 100%;
        padding-left: 10px;
        align-self: center;
    }
    .c{
        width: 100%;
        padding-left: 10px;
        align-self: center;
        padding-top: 50px;
    }

    .photo{
        padding-left: 0px; 
        align-items: center;
        width: 100%;
       
    }
    .text_part{
        width: 100%;
        padding-left: 10px;
    }
    .text_rez{
       
        width: 100%;
        padding-left: 10px;
    }
    .banner{
        width: 100% ;
        padding-top: 15%;
        margin: 0%;
    }
    .beanner_1{
        width: 100%;
        padding-top: 14%;
    }
    .beanner_2{
        width: 100%;
        height: 100%;
        padding-top: 15%;
    }
    .beanner_3{
        width: 100%;
        padding-top: 3%;
    }

    .img1{
        width: 100%;
        margin: 0px;
        align-items: center;
        }
    .img2{
        width: 100%;
        margin: 0px;
        align-items: center;

    }
    .img3{
        width: 100%;
        margin: 0px;
        align-items: center;
        padding-top: 10px;
 
    }
    .button{
        width: 60%;
        height: 60px;
        display: block;
        padding-bottom: 10px;
        padding-top: 15px;
        position: absolute;
    }
    .text_co{
        width: 100%;
        text-align: justify;
        margin: 0px;
        padding-right: 10px;
    }
    .text_con{
        width: 100%;
        text-align: justify;
        margin: 0px;
    }
    .text_con1{
        width: 100%;
        text-align: justify;
        margin: 0px;
    }
    .text_con2{
        width: 100%;
        text-align: justify;
        margin: 0px;
    }
    .logos{
        width: 70px;
        height: 70px;  
        visibility: visible; 
    }
    .body{
        padding: 0;
        margin: 0;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .7s;
        padding-top: 0;
        position: absolute;
    }
    .slide-container{
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        overflow: hidden;
        background: linear-gradient(to right,#00c6fb,#005bea);
    }
   
    .slider-span{
        overflow: hidden;
    }
    .image-slider{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .7s;
       
        
    }

    .slides-div{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 30px 0 30px;
    }
.img{
    position: relative;
    width: 300px;
    height: 200px;
    transition: .5s;
    filter: saturate(10%);
}

.button{
    position: absolute;
    width: 300px;
    height: 200px;
    transition: .5s;
    background-color: rgba(0, 0, 0, .4);
}

.button:hover{
    background-color: rgba(0, 0, 0, .2) ;
}
#slider-span1{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}
#slider-span2{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span3{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span4{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span5{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span6{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span7{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span8{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span9{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span10{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span11{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span12{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span13{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span14{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span15{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span16{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span17{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span18{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}
#slider-span19{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span20{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}
#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1{
    width: 300px;
    height: 200px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5{
    width: 300px;
    height: 200px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~ .image-slider #button-6{
    width: 300px;
    height: 200px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~ .image-slider #button-7{
    width: 300px;
    height: 200px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span8:target ~ .image-slider #img8,
#slider-span8:target ~ .image-slider #button-8{
    width: 300px;
    height: 200px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span9:target ~ .image-slider #img9,
#slider-span9:target ~ .image-slider #button-9{
    width: 300px;
    height: 200px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span10:target ~ .image-slider #img10,
#slider-span10:target ~ .image-slider #button-10{
    width: 300px;
    height: 200px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span11:target ~ .image-slider #img11,
#slider-span11:target ~ .image-slider #button-11{
    width: 400px;
    height: 300px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span12:target ~ .image-slider #img12,
#slider-span12:target ~ .image-slider #button-12{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span13:target ~ .image-slider #img13,
#slider-span13:target ~ .image-slider #button-13{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span14:target ~ .image-slider #img14,
#slider-span14:target ~ .image-slider #button-14{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span15:target ~ .image-slider #img15,
#slider-span15:target ~ .image-slider #button-15{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span16:target ~ .image-slider #img16,
#slider-span16:target ~ .image-slider #button-16{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span17:target ~ .image-slider #img17,
#slider-span17:target ~ .image-slider #button-17{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span18:target ~ .image-slider #img18,
#slider-span18:target ~ .image-slider #button-18{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span19:target ~ .image-slider #img19,
#slider-span19:target ~ .image-slider #button-19{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span20:target ~ .image-slider #img20,
#slider-span20:target ~ .image-slider #button-20{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span1:target ~ .image-slider {left: 330%;}
#slider-span2:target ~ .image-slider {left: 300%;}
#slider-span3:target ~ .image-slider {left: 270%;}
#slider-span4:target ~ .image-slider {left: 240%;}
#slider-span5:target ~ .image-slider {left: 200%;}
#slider-span6:target ~ .image-slider {left: 165%;}
#slider-span7:target ~ .image-slider {left: 130%;}
#slider-span8:target ~ .image-slider {left: 90%;}
#slider-span9:target ~ .image-slider {left: 55%;}
#slider-span10:target ~ .image-slider {left: 20%;}
#slider-span11:target ~ .image-slider {left: -20%;}
#slider-span12:target ~ .image-slider {left: -55%;}
#slider-span13:target ~ .image-slider {left: -90%;}
#slider-span14:target ~ .image-slider {left: -130%;}
#slider-span15:target ~ .image-slider {left: -165%;}
#slider-span16:target ~ .image-slider {left: -200%;}
#slider-span17:target ~ .image-slider {left: -240%;}
#slider-span18:target ~ .image-slider {left: -270%;}
#slider-span19:target ~ .image-slider {left: -300%;}
#slider-span20:target ~ .image-slider {left: -330%;}


 .slide-container-p{
        width: 100%;
        height: 70vh;
        display: flex;
        align-items: center;
        overflow: hidden;
        background: linear-gradient(to right, #6e45e2,#88d3ce);
    }
    .image-slider-p{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
}

.slides-div-p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}
.imgp{
    position: relative;
    width: 500px;
    height: 300px;
    transition: .5s;
    filter: saturate(10%);
}

.buttonp{
    position: absolute;
    width: 500px;
    height: 300px;
    transition: .5s;
    background-color: rgba(0, 0, 0, .4);
}


#slider-span1p:target ~ .image-slider-p #img1,
#slider-span1p:target ~ .image-slider-p #button-1{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span2p:target ~ .image-slider-p #img2,
#slider-span2p:target ~ .image-slider-p #button-2{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span3p:target ~ .image-slider-p #img3,
#slider-span3p:target ~ .image-slider-p #button-3{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span4p:target ~ .image-slider-p #img4,
#slider-span4p:target ~ .image-slider-p #button-4{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span5p:target ~ .image-slider-p #img5,
#slider-span5p:target ~ .image-slider-p #button-5{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span6p:target ~ .image-slider-p #img6,
#slider-span6p:target ~ .image-slider-p #button-6{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span7p:target ~ .image-slider-p #img7,
#slider-span7p:target ~ .image-slider-p #button-7{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span8p:target ~ .image-slider-p #img8,
#slider-span8p:target ~ .image-slider-p #button-8{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span9p:target ~ .image-slider-p #img9,
#slider-span9p:target ~ .image-slider-p #button-9{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span10p:target ~ .image-slider-p #img10,
#slider-span10p:target ~ .image-slider-p #button-10{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span11p:target ~ .image-slider-p #img11,
#slider-span11p:target ~ .image-slider-p #button-11{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span12p:target ~ .image-slider-p #img12,
#slider-span12p:target ~ .image-slider-p #button-12{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span13p:target ~ .image-slider-p #img13,
#slider-span13p:target ~ .image-slider-p #button-13{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span14p:target ~ .image-slider-p #img14,
#slider-span14p:target ~ .image-slider-p #button-14{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span15p:target ~ .image-slider-p #img15,
#slider-span15p:target ~ .image-slider-p #button-15{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span16p:target ~ .image-slider-p #img16,
#slider-span16p:target ~ .image-slider-p #button-16{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span17p:target ~ .image-slider-p #img17,
#slider-span17p:target ~ .image-slider-p #button-17{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span18p:target ~ .image-slider-p #img18,
#slider-span18p:target ~ .image-slider-p #button-18{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span19p:target ~ .image-slider-p #img19,
#slider-span19p:target ~ .image-slider-p #button-19{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span20p:target ~ .image-slider-p #img20,
#slider-span20p:target ~ .image-slider-p #button-20{
    width: 700px;
    height: 400px;
    background-color: transparent;
    filter: saturate(100%);
}
#slider-span1p:target ~ .image-slider-p {left: 330%;}
#slider-span2p:target ~ .image-slider-p {left: 300%;}
#slider-span3p:target ~ .image-slider-p{left: 270%;}
#slider-span4p:target ~ .image-slider-p {left: 240%;}
#slider-span5p:target ~ .image-slider-p {left: 200%;}
#slider-span6p:target ~ .image-slider-p {left: 165%;}
#slider-span7p:target ~ .image-slider-p {left: 130%;}
#slider-span8p:target ~ .image-slider-p {left: 90%;}
#slider-span9p:target ~ .image-slider-p {left: 55%;}
#slider-span10p:target ~ .image-slider-p {left: 20%;}
#slider-span11p:target ~ .image-slider-p {left: -20%;}
#slider-span12p:target ~ .image-slider-p {left: -55%;}
#slider-span13p:target ~ .image-slider-p {left: -90%;}
#slider-span14p:target ~ .image-slider-p {left: -130%;}
#slider-span15p:target ~ .image-slider-p {left: -165%;}
#slider-span16p:target ~ .image-slider-p {left: -200%;}
#slider-span17p:target ~ .image-slider-p {left: -240%;}
#slider-span18p:target ~ .image-slider-p {left: -270%;}
#slider-span19p:target ~ .image-slider-p {left: -300%;}
#slider-span20p:target ~ .image-slider-p {left: -330%;}

#slider-span1p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}
#slider-span2p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span3p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span4p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span5p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span6p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span7p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span8p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span9p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span10p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span11p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span12p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span13p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span14p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span15p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span16p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span17p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span18p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}
#slider-span19p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}#slider-span20p{
    width: 100%;
    position: absolute;
    padding-top: 800px;
}

.cip{
    width: 40%;
}
.por{  
    width: 55.5%;
    padding-left: 250px;
    position: absolute;

 }
}


  
